.block-counter__header {
  background: gray;
  margin-bottom: 8px;
  height: 24px;
}

.block-counter__header-text {
  color: white;
  margin: 0px;
}

.cell-counter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.block-counter {
  width: 240px;
  height: 24px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  /* border-radius: 5px; */
}

.block-counter-head{
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.cellText{
  filter: invert(1);
}
